.derechos-autor {
    text-align: center;
    padding: 20px; /* Agrega un espacio alrededor del bloque para mejorar la apariencia */
    background-color: #f8f8f8; /* Cambia el color de fondo si es necesario */
    margin-top: 20px; /* Ajusta el margen superior para separarlo del contenido anterior */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*----------------------------------------------->
/* Lista de métodos de pago */
.metodos-pago {
    list-style: none;
    padding: 0;
    text-align: center; /* Centro el texto (h3 y ul) */
    
}

.titulo-metodos-pago {
    margin-bottom: 10px; /* Ajusta el espacio entre el h3 y la lista según sea necesario */
}

.metodos-pago li {
   /* border: 1px solid #ddd; */
    margin: 0 30px;
    cursor: pointer;
    position: relative;
    display: inline-block; /* Para que los elementos li estén en línea y se centren correctamente */
}

.metodos-pago li i {
    font-size: 24px; /* Tamaño del icono */
    color: #3498db; /* Color del icono */
    border: 1px solid #3498db; /* Borde del icono */
    border-radius: 5px; /* Radio de borde para suavizar los bordes */
    padding: 5px; /* Espaciado interno para separar el borde del icono */
}
/* Colores específicos para cada icono */
.metodos-pago li[data-tooltip="Visa"] i {
    color: #083757; /* Color del icono Visa */
    border-color: #3498db; /* Borde del icono Visa */
}

.metodos-pago li[data-tooltip="Mastercard"] i {
    color: #e74c3c; /* Color del icono Mastercard */
    border-color: #e74c3c; /* Borde del icono Mastercard */
}

.metodos-pago li[data-tooltip="Efectivo"] i {
    color: #2ecc71; /* Color del icono Efectivo */
    border-color: #2ecc71; /* Borde del icono Efectivo */
}
.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
}
/*-----------------------------------------------*/
/* Estilos para la pasarela de imágenes */
.pasarela-imagenes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Ajusta según sea necesario */
}

.pasarela-imagenes img {
    width: 200px; /* Ancho fijo para cada imagen */
    height: auto; /* Altura automática para mantener la proporción original */
    border: 1px solid #ddd; /* Borde para cada imagen */
    border-radius: 5px; /* Bordes redondeados */
}

