html, body {
    height: 100%;
    margin: 0;
}

body {
    padding: 50px;
    padding-top: 30px;
    background-color: aliceblue;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* Estilo para la primera tabla */
#tabla-personas {
    margin-bottom: 20px; /* Margen en la parte inferior */
}

/* Estilo para la segunda tabla */
#tabla-usuarios {
    margin-top: 20px; /* Margen en la parte superior */
}

/* Estilo para la tabla */
.table {
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Evitar que los bordes redondeados afecten a las celdas internas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para resaltar la tabla */
    border: 1px solid #ddd; /* Borde delgado para separación */
}

.table th, .table td {
    border: 1px solid #dee2e6; /* Borde para celdas */
    padding: 8px; /* Espaciado interno */
    text-align: center; /* Centrar el contenido */
}

.table thead th {
    background-color: rgb(69, 102, 160); /* Color de fondo para los encabezados de la tabla */
    color: white; /* Color del texto en los encabezados de la tabla */
}

.table-info th, .table-info td {
    background-color: #d1ecf1; /* Color de fondo para las filas con clase 'table-info' */
}

.btn {
    margin-right: 5px; /* Espaciado entre los botones */
}

.container-fluid {
    max-width: 1200px; /* Ancho máximo para el contenedor fluido */
    margin: 0 auto; /* Centrar el contenedor */
}
.table-hover tbody tr:hover {
    background-color: #799ea9; /* Color de fondo al pasar el cursor sobre la fila */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.btn-primary {
    float: right; /* Coloca el botón a la derecha */
    border: 1px solid rgb(5, 104, 27);
    color: #046747;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 16px; 
}

.btn-primary:hover {
    background-color: rgb(12, 126, 86);
    color: #fff;
}



    